<h2><%= link_to "Feed Me Photos", root_path %></h2>


 <%= render "form" %>

<% unless flash.present? %>
  <% unless params[:photographer_id].blank? %>
    <div class='user-name'><%= params[:photographer_id] %><span>'s Photostream</span></div>
  <% end %>
<% end %>

<div class="photo-container">
  <% if @photo_list.present? %>
    <% @photo_list.each do |photo| %>
      <div class="photo-frame"><%= image_tag "https://live.staticflickr.com/#{photo["server"]}/#{photo["id"]}_#{photo["secret"]}_n.jpg" %></div>
    <% end %>
  <% end %>
</div>




